.cor-fundo-1{
    background-color: #548EC8;
}

@media (min-width:768px) {
    .news-input {
        max-width: 100%;
    }
}


@media (max-width: 1438px) {
    h3{
        font-size: 24px;
    }
}

@media (max-width: 1259px) {
    h3{
        font-size: 19px;
    }
}

@media (max-width: 1036px) {
    h3{
        font-size: 15px;
    }
}