@media (max-width:576px) {
    .logo {
        width: 55%;
    }
    .navbar-toggler{
        width: 35px;
        height: 30px;
    }

    .navbar-toggler-icon{
        width: 25px;
        height: 20px;
        padding: 0;
        position: absolute;
        right: 17px;
        top: 32px;
    }
   
} 

.nav-hr{
    border-bottom: 0.5px solid rgba(221, 221, 221, .2);
}

.liga {
    text-decoration: none;
    color:inherit;
}

.liga:hover {
    text-decoration: none;
    color:inherit;
}

@media (max-width:1215px) {
    .logo {
        width: 80%;
    }
    .nav-link{
        font-size: 12px;
    }

} 