@media (max-width:576px) {
    .logo {
        width: 55%;
    }
    
    .navbar-toggler{
        width: 30px;
        height: 25px;
    }

    .navbar-toggler-icon{
        width: 23px;
        height: 16px;
        position: absolute;
    } 

    nav{
        max-width: 100%;
    }
   
} 

.nav-hr{
    border-bottom: 0.5px solid rgba(221, 221, 221, .2);
}

@media (max-width:1415px) { 
    .nav-link{
        font-size: 14px;
    }
}

@media (max-width:1215px) {
    .logo {
        width: 80%;
    }
    .nav-link{
        font-size: 12px;
    }
} 