.decoration {
    text-decoration: none;
    color:antiquewhite;
}

.decoration:hover {
    text-decoration: none;
    color:antiquewhite;
}


@media (max-width:1215px) {
    .liga{
        font-size: 12px;
    }
    .liga1{
        font-size: 13px; 
    }
    .dim1{
        width: 80%;
    }
}